.textRowEven {
	background-color: #efefff;
}

.textRowOdd {
	background-color: #ffffff;
	padding: 0.5em;
}

.textRowEven > td, .textRowOdd > td {
	padding: 0.5em;
	text-wrap: unrestricted;
	word-wrap: break-word;
}

.textDivider > td {
	padding: 0.7em;
}

.textDivider {
	text-align: center;
	font-weight: bold;
	background-color: navy;
	color: white;
}

.textName {
	font-weight: bold;
}



#descriptionArea ul {
	list-style: disc outside none;
	margin-left:  25px;
	margin-top: 5px;
	margin-bottom: 5px;
	}
	
#descriptionArea ol {
	list-style: decimal outside none;
	margin-left:  25px;
	margin-top: 5px;
	margin-bottom: 5px;
	}

#descriptionArea p {
	margin-bottom: .5em;
	
}

div.mxRubberband {
	position: absolute;
	background-color: blue;
	border: 1px solid #3000af;
}
#toplinks-holder {
  left: 0.4em;
  right: 0.4em;
  z-index:  1;
  font-size: 11px;
	position:absolute;
	top:0px;
}

.gray{
  color: Gray;
}

#toplinks-holder a{
  font-size: 12px;
  text-decoration: none;
  color: DarkSlateGray;
  z-index:  20002;
}

#loading-mask {
  position: absolute;
  left:     0;
  top:      0;
  width:    100%;
  height:   100%;
  z-index:  20000;
  background-color: white;
}

#loading {
  position: absolute;
  left:     50%;
  top:      10%;
  padding:  2px;
  z-index:  20001;
  height:   auto;
  margin:   0px 0 0 -250px;
  width: 550px;
  color: #555;
}

#loading .loading-indicator {
  color:      #555;
  font:       bold 13px tahoma,arial,helvetica;
  padding:    20px 10px;
  margin:     0;
  text-align: center;
  height:     auto;
}

.x-props-grid .x-grid3-cell-inner{
	font-size: 14px;
	
}

.undefined td{
	font-size: small;
	
}
html, body {
	font: normal 12px tahoma, arial, verdana, sans-serif;
	margin: 0;
	padding: 0;
	border: 0 none;
	overflow: hidden;
	height: 100%;
}

.apply-icon {
    background-image:url(../images/apply.png) !important;
}
.cancel-icon {
    background-image:url(../images/cancel.png) !important;
}
.page-icon {
    background-image:url(../images/page.png) !important;
}
.warning-icon {
    background-image:url(../images/warning.png) !important;
}
.macro-icon {
    background-image:url(../images/macro.png) !important;
}
.edit-small-icon {
	background:transparent url(../images/edit.png) no-repeat 0 0;
    cursor:pointer; 
}
.flow-small-icon {
    background-image:url(../images/flow_small.png) !important;
}
.test-icon {
    background-image:url(../images/test.png) !important;
}
.link-small-icon {
    background-image:url(../images/link_small.png) !important;
}
.download-icon {
    background-image:url(../images/download.png) !important;
}
.picture-icon {
    background-image:url(../images/picture.png) !important;
}
.reverse-icon {
    background-image:url(../images/reverse.png) !important;
}
.converter-icon {
    background-image:url(../images/excel.png) !important;
}
.display-icon {
    background-image:url(../images/Display.png) !important;
}
.folder-icon {
    background-image:url(../images/folder.png) !important;
}
.button-icon {
    background-image:url(../images/button.png) !important;
}
.front-icon {
    background-image:url(../images/object-order-front.png) !important;
}
.ghost-icon {
    background-image:url(../images/ghost.png) !important;
}
.back-icon {
    background-image:url(../images/object-order-back.png) !important;
}
.cut-icon {
    background-image:url(../images/cut.gif) !important;
}
.copy-icon {
    background-image:url(../images/copy.gif) !important;
}
.paste-icon {
    background-image:url(../images/paste.gif) !important;
}
.undo-icon {
    background-image:url(../images/undo.gif) !important;
}
.redo-icon {
    background-image:url(../images/redo.gif) !important;
}
.group-icon {
    background-image:url(../images/group.gif) !important;
}
.ungroup-icon {
    background-image:url(../images/ungroup.gif) !important;
}
.grid-icon {
    background-image:url(../images/grid.gif) !important;
}
.connect-icon {
    background-image:url(../images/connect.gif) !important;
}
.register-icon {
    background-image:url(../images/register.png) !important;
}
.login-icon {
    background-image:url(../images/login.png) !important;
}
.scratchpad-icon {
    background-image:url(../images/scratchpad.png) !important;
}
.scratchpad-large-icon {
    background-image:url(../images/scratchpad-large.png) !important;
}
.bold-icon {
    background-image:url(../images/bold.gif) !important;
}
.italic-icon {
    background-image:url(../images/italic.gif) !important;
}
.underline-icon {
    background-image:url(../images/underline.gif) !important;
}
.preferences-icon {
    background-image:url(../images/preferences.gif) !important;
}
.fit-icon {
    background-image:url(../images/fit.gif) !important;
}
.preview-icon {
    background-image:url(../images/preview.gif) !important;
}
.print-icon {
    background-image:url(../images/print.gif) !important;
}
.zoom-large-icon {
    background-image:url(../images/zoom-large.png) !important;
}
.embed-icon {
    background-image:url(../images/embed.png) !important;
}
.zoom-icon {
    background-image:url(../images/zoom.gif) !important;
}
.zoomin-icon {
    background-image:url(../images/zoomin.gif) !important;
}
.zoomout-icon {
    background-image:url(../images/zoomout.gif) !important;
}
.zoomactual-icon {
    background-image:url(../images/zoomactual.gif) !important;
}
.collapse-icon {
    background-image:url(../images/collapse.gif) !important;
}
.expand-icon {
    background-image:url(../images/expand.gif) !important;
}
.new-icon {
    background-image:url(../images/new.gif) !important;
}
.save-icon {
    background-image:url(../images/document-save.png) !important;
}
.gear-icon {
    background-image:url(../images/gear.gif) !important;
}
.run-icon {
    background-image:url(../images/RunPic.png) !important;
    background-repeat: no-repeat;
}
.tree-icon {
    background-image:url(../images/tree.gif) !important;
}
.diagram-icon {
    background-image:url(../images/diagram.gif) !important;
}
.left-icon {
    background-image:url(../images/left.gif) !important;
}
.right-icon {
    background-image:url(../images/right.gif) !important;
}
.center-icon {
    background-image:url(../images/center.gif) !important;
}
.top-icon {
    background-image:url(../images/top.gif) !important;
}
.bottom-icon {
    background-image:url(../images/bottom.gif) !important;
}
.sensitivity-icon {
    background-image:url(../images/sensitivity.png) !important;
}
.equations-icon {
    background-image:url(../images/equations.png) !important;
}
.middle-icon {
    background-image:url(../images/middle.gif) !important;
}
.fillcolor-icon {
    background-image:url(../images/fillcolor.gif) !important;
}
.linecolor-icon {
    background-image:url(../images/linecolor.gif) !important;
}
.fontcolor-icon {
    background-image:url(../images/fontcolor.gif) !important;
}
.collapse-icon {
    background-image:url(../images/collapse.gif) !important;
}
.expand-icon {
    background-image:url(../images/expand.gif) !important;
}
.up-icon {
    background-image:url(../images/up.gif) !important;
}
.home-icon {
    background-image:url(../images/house.gif) !important;
}
.down-icon {
    background-image:url(../images/down.gif) !important;
}
.delete-icon {
    background-image:url(../images/delete.gif) !important;
}
.stock-icon {
    background-image:url(../images/Stock.png) !important;
}
.stock-icon-small {
    background-image:url(../images/Stock-small.png) !important;
}
.parameter-icon {
    background-image:url(../images/Parameter.png) !important;
}
.parameter-icon-small {
    background-image:url(../images/Parameter-small.png) !important;
}
.font-icon {
    background-image:url(../images/font.png) !important;
}
.flow-icon {
    background-image:url(../images/Flow.png) !important;
}
.units-add-icon {
    background-image:url(../images/units-add.png) !important;
}
.units-remove-icon {
    background-image:url(../images/units-remove.png) !important;
}
.link-icon {
    background-image:url(../images/Link.png) !important;
}
.clock-icon {
    background-image:url(../images/clock.png) !important;
}
.units-icon {
    background-image:url(../images/units.png) !important;
}
.property-icon {
    background-image:url(../images/property.png) !important;
}
.add-icon {
    background-image:url(../images/add.png) !important;
}
.big-delete-icon {
    background-image:url(../images/delete.png) !important;
}
.configure-icon {
    background-image:url(../images/configure.png) !important;
}
.fliph-icon {
    background-image:url(../images/fliph.png) !important;
}
.flipv-icon {
    background-image:url(../images/flipv.png) !important;
}
.import-icon {
    background-image:url(../images/spreadsheet.png) !important;
}
.find-icon {
    background-image:url(../images/find.png) !important;
}
.replace-icon {
    background-image:url(../images/replace.png) !important;
}
.leftarrow-icon {
    background-image:url(../images/leftarrow.png) !important;
}
.rightarrow-icon {
    background-image:url(../images/rightarrow.png) !important;
}






.msg .x-box-mc {
    font-size:14px;
}
#msg-div {
    position:absolute;
    left:20%;
    top:10px;
    width:600px;
    z-index:200000;
	 
}
#msg-div .msg {
	text-align:center;

    padding: 8px 35px 8px 14px;
    margin-bottom: 18px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
    border: 3px solid #eed3d7;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
		    color: #ffffff;
   
			font-size: 16px;
		    background-color: #da4f49;
		    *background-color: #bd362f;
		    background-image: -ms-linear-gradient(top, #ee5f5b, #bd362f);
		    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
		    background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
		    background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
		    background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
		    background-image: linear-gradient(top, #ee5f5b, #bd362f);
		    background-repeat: repeat-x;
		    border-color: #bd362f #bd362f #802420;
		    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
		    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#bd362f', GradientType=0);
		    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.x-btn-default-toolbar-large-icon .x-btn-icon {
width: 150px;
height: 32px;
top: 0;
left: 0;
bottom: 0;
right: 0;
}
.logo-icon {
    background-image: url(http://insightmaker.com/builder/images/logo.png);
}


.markup{
	font-size: 1px;
	margin: 0px;
	padding: 0px;
	opacity: 0.001;
}

.units{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	font-size: small;
	display: inline-block;
	text-align:center;
	border: 1px solid #eaeaea;
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;
			padding:3px;
	
}

.x-tip-body ul li {
	list-style: disc inside none;
}

.x-tip-body ol li{
	list-style: decimal inside none;
}

.description ul li {
	list-style: disc inside none;
}

.description ol li{
	list-style: decimal inside none;
}
